.app-container {
  height: 100%;
  width: 100%;
}

.app-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-is-mobile .example-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

.app-container header {
  height: 50px;
  max-height: 50px;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 7px 0 rgba(0, 0, 0, 0.14),
    0 1px 15px 0 rgba(0, 0, 0, 0.12);
}
.app-container .content-container {
  height: calc(100% - 0.5%);

  /* height: 100%; */
  overflow: auto;
  padding: 0px 0px 0px 0px;
  word-break: break-all;
}
